# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/

www/img/smiley.jpg
www/js/app/
www/js/common/
www/pixiJS/
www/img/obj.png
todo.txt
